/* Animaion */
@keyframes enterFromTop {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Usage */
.customer-navigation-bar, .zwind-content {
    animation: enterFromTop 0.6s forwards;
}

.zwind-subtitle {
    opacity: 0;
    animation: enterFromTop 1.2s .6s forwards;
}

.zwind-buttons {
    opacity: 0;
    animation: enterFromTop 1.2s 1.2s forwards;
}