@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f081a;
    --foreground: #ededed;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --background: #0f081a; */
    /* --foreground: #ededed; */
  /* } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", sans-serif;
}


.ant-dropdown-menu {
  background-color: #1e1035 !important;
  border: 1px solid #564373 !important;
  padding: 16px !important;
}

.ant-select-dropdown {
  background-color: #111111 !important; /* nền menu */
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-selected {
  background-color: #1e1e2f !important; /* nền item selected */
  font-weight: 600;
}

.ant-pagination-options .ant-pagination-options-size-changer {
  background: rgba(255, 255, 255, .05) !important;
}

.ant-select-selector {
  background: transparent !important;
  border: 1px solid #3f66fb !important; /* viền xanh neon */
  color: white !important;
}

.ant-pagination-item {
  color: white !important;
  background: rgba(255, 255, 255, .05) !important;
}

.ant-pagination-item-active {
  border: 1px solid #3f66fb !important;/* viền xanh neon */
}